name: Deploy Backend API to Droplet

on:
  push:
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0'

      - name: Build Backend API
        run: dotnet build backend/JobGuard.Api/JobGuard.Api.csproj --configuration Release

#      - name: Run Tests
#        run: dotnet test backend/JobGuard.Api/JobGuard.Api.csproj

      # This step will only run if the workflow is triggered manually
#      - name: Variable Substitution in appsettings.json
#        if: github.event_name == 'workflow_dispatch'
#        uses: microsoft/variable-substitution@v1
#        with:
#          files: 'backend/JobGuard.Api/appsettings*.json'
#        env:
#          CustomVariable1: ${{ secrets.CUSTOM_VARIABLE_1 }}
#          CustomVariable2: ${{ secrets.CUSTOM_VARIABLE_2 }}

      # This step will only run if the workflow is triggered manually
      - name: Login to GitHub Container Registry
        if: github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # This step will only run if the workflow is triggered manually
      - name: Build and Push Docker Image
        if: github.event_name == 'workflow_dispatch'
        run: |
          docker build -t ghcr.io/bardin08/jobguard/jobguard-api:${{ github.sha }} backend/
          docker push ghcr.io/bardin08/jobguard/jobguard-api:${{ github.sha }} 

      # This step will only run if the workflow is triggered manually
      - name: Deploy to Droplet
        if: github.event_name == 'workflow_dispatch'
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_HOST }}
          username: ${{ secrets.DROPLET_USERNAME }}
          key: ${{ secrets.DROPLET_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            docker pull ghcr.io/bardin08/jobguard/jobguard-api:${{ github.sha }}
            docker stop jobguard-api || true  # Stop the old container if it exists
            docker rm jobguard-api || true    # Remove the old container if it exists
            docker run -d -p 51244:8080 --name jobguard-api ghcr.io/bardin08/jobguard/jobguard-api:${{ github.sha }}
