name: JobGuard API Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment for the deployment
        required: true
        type: choice
        options:
          - dev

env:
  DOTNET_NOLOGO: true
  DOTNET_SDK_VERSION: 8.0.x
  DOTNET_TFM: net8.0
  APP_NAME: Cricut.PushNotifications
  GHCR_REGISTRY: ghcr.io/bardin08/jobguard
  GHCR_REPOSITORY: jobguard-api

jobs:
  build-docker-image-and-deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          -t ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }} `
          --build-arg BIN_PATH=bin/Release/${{env.DOTNET_TFM}}/publish `
          /backend

          docker push ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}

      - name: Deploy to Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_HOST }}
          username: ${{ secrets.DROPLET_USERNAME }}
          key: ${{ secrets.DROPLET_SSH_KEY }}
          passphrase: ${{ secrets.DROPLET_SSH_KEY_PASSPHRASE }}
          script: |
            docker pull ghcr.io/bardin08/jobguard/jobguard-api:${{ github.sha }}
            docker stop jobguard-api || true
            docker rm jobguard-api || true
            docker run -d -p 51244:8080 --name jobguard-api \
              -e ConnectionStrings__PostgresDb="${{ secrets.PG_CONNECTION_STRING }}" \
              -e OpenAi__ApiKey="${{ secrets.OPEN_AI_API_KEY }}" \
              ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}